
/*Template 3 - styles coffee mag */



.tpl3-wrapper-templ{
	font-size:100.01%;
	font-family: 'Quicksand', sans-serif;
	height:100%;
	}

.tpl3-title-box{
	position:absolute;
	top:3em;
	right:0;
	padding-bottom:1em;
	width: 40em;
	border-bottom: 2px solid #444;
	border-top: 2px solid #777;
	padding-top: 1.5em;
	background:rgba(255,255,255,0.7);
	}

.tpl3-grossertitel{
	font-family: 'Quicksand', sans-serif;
	color:#444;
	text-align:right; 
	font-size:3.0em;
	padding-right:2em;
	letter-spacing:0.1em;
	
	/*background:rgba(66,66,66,0.8);*/
	}


	
.tpl3-description{
	font-family: 'Quicksand', sans-serif;
	line-height:1.6em;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	}

.tpl3-desc-topleft{
	position:absolute;
	top:10em;
	right:10em;
	width:30em;
	background:rgba(216,180,84,0.6);
	padding:2em;
	line-height:1.6em;
	font-size:1.2em;
	border: 1px #FFF solid;
	color:#222;
	height:50%;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	}
	
.tpl3-desc-center{
	border: 1px #000 solid;
	position:absolute;
	bottom:6em;
	right:7em;
	left:4em;
	max-width:30em;
	background:rgba(216,216,216,0.5);
	color:#222;
	font-weight:300;
	padding:1em;
	line-height:1.6em;
	font-size:1.6em;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	}
	
.tpl3-desc-bottomright{
	height:50%;
	border: 1px #AA0 solid;
	position:absolute;
	top:10em;
	bottom:2em;
	right:3em;
	width:30em;
	background:rgba(216,180,84,0.8);
	padding:3em;

	line-height:1.6em;
	font-size:1.2em;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	}	
	