.wrapper-templ-1{
	font-size:100.01%;
	font-family: 'Quicksand', sans-serif;
	}


.tpl1-title-box{
	position:absolute;
	top:3em;
	right:0;
	padding-bottom:1em;
	width: 40em;
	border-bottom: 2px solid #444;
	border-top: 2px solid #777;
	padding-top: 1.5em;
	background:rgba(255,255,255,0.7);
	}
	}

.tpl1-grossertitel{
	font-family: 'Quicksand', sans-serif;
	color:#444;
	text-align:right; 
	font-size:3.0em;
	padding-right:2em;
	letter-spacing:0.1em;
	/*background:rgba(66,66,66,0.8);*/
	}

.flip-box{
	position:absolute;
	padding-top:10em;
	left:2em;
	}

.bildlegende{
	position:absolute;
	bottom:1em;
	right:1em;
	background:rgba(237,237,237,0.57);
	padding:2em;
	color:#111;
	}

.lead {
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	background:rgba(71,66,66, 0.6);
	font-size:1.3em;
	color:rgba(163,74,76,1.00);
	line-height:1.8em;
	padding:2em;
	}

.front{
	background:#222;
	}

.front h3{
	color:#F2F2F2;
	font-size:1.1em;
	padding-top:2em;
	padding-bottom:2em;
	}

.front h4{
	color:#E3E3E3;
	font-size:0.9em;
	padding-bottom:2em;
	}	