<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^atelier-schief.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.atelier-schief.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^webkanal.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.web-kanal.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.webkanal.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.web-kanal.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^akupunktur-radloff.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.akupunktur-radloff.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.akupunkturradloff.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.akupunktur-radloff.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^akupunkturradloff.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.akupunktur-radloff.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^www.akupunktur-imbach.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.akupunktur-radloff.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_HOST}" pattern="^akupunktur-imbach.ch" />
                    </conditions>
                    <action type="Redirect" url="http://www.akupunktur-radloff.ch/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="robots\.txt" />
                    <action type="Rewrite" url="robots.cfm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
