<div id="ContentTwoCol" class="container" style="background:transparent url('{{backgroundImage}}') center top no-repeat; background-size:cover; height:100%;">
    <div class="row ">
        <div class="six columns">
            <article class="articleRight">
                <h3>{{content[0].title1}}</h3>
                <h4>{{content[0].lead1}}</h4>
                <p>{{content[0].text1}}</p>
            </article>
        </div>
        <div class="six columns">
            <article class="articleLeft">
                <h3>{{content[0].title2}}</h3>
                <h4>{{content[0].lead2}}</h4>
                <p>{{content[0].text2}}</p>
            </article>
        </div>
    </div>
</div>