<div class="container">
    <div class="row articlecontainer">
        <div class="twelve columns">
            <div class="row">
                <div class="two-thirds column">
                    <article class="articleDefault">
                        <h2>{{pageTitel}}</h2>
                        <p>{{text}}</p>
                        <h3>{{content[0].title1}}</h3>
                        <h4>{{content[0].lead1}}</h4>
                        <p>{{content[0].text1}}</p>
                        <h3>{{content[0].title2}}</h3>
                        <h4>{{content[0].lead2}}</h4>
                        <p>{{content[0].text2}}</p>
                    </article>
                </div>
                <div id="teasercontainer" class="one-third column teaser" >
                </div>
            </div>
        </div>
    </div>
</div>