<div class="row" id="footer">
    <div class="two columns">
        <img src="pix/logo-dark.png" >
        <div class="footerfeedback">
            <p><span>Nice Screen Size</span><br />Enjoy Full-Screen!</p>
        </div>
    </div>
    <div class="four columns">
        <div class="remark">
            <p>
                All photos are taken by Felix Adam
                <br />
                <small>
                - well, most of them...
                </small>
            </p>
        </div>
    </div>
    <div class="four columns">
        <p class="adress">
            Single <br />
            Page <br />
            Application
        </p>
    </div>
    <div class="two columns">
        <br />
        A Nörd Solution<br />
        <a href="http://www.web-kanal.ch/webdesign/ch-de/kontakt/" target="_blank">
            &copy; by Webkanal
        </a>
    </div>
</div>