<!--<script id="home" type="application/mirzaguruscript">-->
    <div class="container">
        <div id="homeWrapper" style="background:transparent url('{{backgroundImage}}') center top no-repeat;background-size:cover;">
            <div class="row" >
                <div class="twelve columns homecontainer">
                    <div class="center" style="opacity: 0;">
                        <h1>{{pageTitel}}</h1>
                        <h2>{{text}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</script>-->