<div id="splash-container">
    <!--loading animated splash view-->
    <div id="showsplash">
        <div class="splash-content">
            <h1>Loading</h1>
            <h2>Single Page Application Gallery</h2>
            <svg id="boxLoader" width="50px" height="50px" viewBox="0 0 35 35" preserveAspectRatio="none">
                <rect x="0" fill="#0FF" width="45" height="45" />
            </svg>
            <h3>in moonwalker style... ;-)</h3>
            <p>&copy; by FLX</p>
        </div>
    </div>
    <!--failback container: show this if app cannot be loaded due modernzr and featurechecks-->
    <div id="failback-content">
        <h1>No way</h1>
        <p>Sorry! your Browser-version is not supported. We use some new fancy features, for giving the full user pleasure! <br />Please vistit this App with a newer Browser Gereration. Try Google Chrome for free</p>
        <br />
        <a href="https://www.google.com/chrome/browser" class="menubarlinks">Google Chrome Browser</a>
        <br />
        <br />
        <h3>aborting now... </h3>
    </div>
    <!--show list of passed browser tests -->
    <div id="featureList">
        <ul id="showTests"></ul>
    </div>
</div>