<div class="container" >
    <div style="background:transparent url('{{backgroundImage}}'); background-repeat: no-repeat; background-position: center center; background-size: cover; min-height: 100%;">
        <div class="row ">
            <div class="eight columns">
                <aside class="asidetext">
                    <h2>{{content[0].title1}}</h2>
                    <h3>{{content[0].lead1}}</h3>
                    <p>{{content[0].text1}}</p>
                    <br />
                    <div class="imgcontent">
                        <p>{{content[0].imgcaption1}}</p>
                        <img src="{{content[0].img1}}" />

                    <br />
                        <p>{{content[0].imgcaption2}}</p>
                        <img src="{{content[0].img2}}" />
                    <br />
                    </div>
                </aside>
            </div>
            <div class="four columns">
                &nbsp;
            </div>
        </div>
    </div>
</div>