<div id="ttwrapper">
    <div class="tttitle clear">
        <h2 class="animMeTT">Themes</h2>
    </div>
    <div class="ttmenu">
        <ul>
            <li>
                <a href="#" class="themelink" data-themepath="css/red-theme.css">Vintage Red</a>
            </li>
            <li>
                <a href="#" class="themelink" data-themepath="css/bright-theme.css">Shiny Bright</a>
            </li>
            <li>
                <a href="#" class="themelink" data-themepath="css/blue-theme.css">Cyan Anthrazit</a>
            </li>
            <li>
                <a href="#" class="themelink" data-themepath="css/lila-theme.css">Deep Purple</a>
            </li>
            <li>
                <a href="#" class="themelink" data-themepath="css/orange-theme.css">California Orange</a>
            </li>
            <li class="fullscreenmenu">
                <a href="#" id="goFS" >Fullscreen Mode</a>
            </li>
        </ul>
    </div>
</div>