<div class="menubar u-full-width u-cf">
    <div class="row titlebar">
        <div class="twelve column clear">
            <div  id="menutoggler" >
                <a href="#" id="BtnMenuToggler" class="menubarlinks" >
                    Menu
                </a>
            </div>
            <div class="title-gal ">
                <h1>F-Pix Gallery</h1>
            </div>
            <div id="themetoggler" >
                <a href="#" id="BtnThemeChange" class="menubarlinks">
                    Themes
                </a>
            </div>
        </div>
    </div>
</div>