body {
  background: #572D53;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

::-webkit-scrollbar-track {
  background: #0F0202; }

::-webkit-scrollbar-thumb {
  background: #26041D; }

.container {
  background: #222222; }

#ContainerMenuBar {
  background: #572D53;
  color: #714172; }

.menubar {
  background: #0F0202; }

.titlebar {
  border-bottom: 1px solid #D7B5E7; }

.menubarlinks {
  color: #B3B3B3;
  background: #555555;
  border: 1px solid #2D2D2D; }

.menubarlinks:hover {
  color: #333333;
  background: #EBEBEB; }

.menubarlinks a {
  color: #B3B3B3; }

.menubarlinks a:hover {
  color: #333333; }

.title-gal h1 {
  color: #a8a8a8; }

.title-gal h1:hover {
  color: #714172; }

/*--------------- Off-Canvas Navigation LEFT --- */
#navWrapper {
  background: #292929; }

#navContent {
  border: 1px solid #777777; }

.nav-title h2 {
  border-top: 1px solid #FFFFFF;
  color: #D7B5E7; }

.menu-list li a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.8);
  color: #B3B3B3;
  background: #222222; }

.menu-list li a:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #714172;
  box-shadow: inset 0 -1px rgba(200, 200, 200, 0.8); }

/* ----------------- Theme Toggler Menu RIGHT--*/
#ContainerThemeToggler {
  background: #292929; }

#ttwrapper {
  border: 1px solid #777777;
  background: #2D2D2D; }

.ttmenu {
  background: #2D2D2D; }

.tttitle h2 {
  background: #2D2D2D;
  border-top: 1px solid #FFFFFF;
  color: #D7B5E7; }

.ttmenu ul li a {
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.8);
  color: #B3B3B3;
  background: #222222; }

.ttmenu ul li a:hover {
  box-shadow: inset 0 -1px rgba(255, 255, 255, 0.8);
  color: #714172;
  background: rgba(0, 0, 0, 0.8); }

/*------------------------ VIEW: Home View --- */
.center {
  background: rgba(25, 25, 160, 0.4);
  border-top: 1px solid #714172; }

.center h1 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 2px 3px 4px #0F0202;
  color: #D1CFDA; }

.center h2 {
  background: #0F0202;
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #714172; }

/*----------------- VIEW: Gallery overview ---*/
#galleryOverviewContainer {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.gallery-title h1 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #C2C2C2;
  border-bottom: 1px solid #714172; }

.theadalbum {
  color: #C2C2C2; }

.listsinglealbum {
  color: #D7B5E7;
  border-top: 1px solid #777777;
  background: #222222;
  border-bottom: 2px solid #454545; }

.listsinglealbum:hover {
  background: #0F0202;
  border-bottom: 2px solid #26041D;
  color: #714172; }

/*--------------- ---VIEW Gallery Detail: pix ---*/
#galleryDetailContainer {
  color: #714172; }

.img-caption {
  background: rgba(200, 200, 200, 0.3);
  border-top: 1px solid #714172; }

.img-caption h2 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0F0202; }

.img-caption-detail {
  background: rgba(200, 200, 200, 0.8); }

.img-caption-detail p {
  color: #714172; }

.gal-btn a {
  color: #B3B3B3;
  background: none;
  border: 1px solid #2D2D2D; }

.gal-btn a:hover {
  color: #0F0202;
  background: #D1CFDA;
  border: 1px solid #333333; }

.swiper-button-prev {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  border: 1px solid #7e7e7e;
  background: none;
  transition: all 0.25s ease-out; }
  .swiper-button-prev span {
    color: #572D53; }

.swiper-button-prev:hover {
  border: 1px solid #a8a8a8;
  background: #0F0202; }
  .swiper-button-prev:hover span {
    color: #D1CFDA; }

.swiper-button-next {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777777;
  border: 1px solid #7e7e7e;
  background: none;
  transition: all 0.25s ease-out; }
  .swiper-button-next span {
    color: #572D53; }

.swiper-button-next:hover {
  border: 1px solid #a8a8a8;
  background: #0F0202; }
  .swiper-button-next:hover span {
    color: #D1CFDA; }

/*-------------------------- VIEW Uploader Form ---*/
.uploaderTitle h2 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #C2C2C2;
  border-bottom: 1px solid #714172; }

#uploadForm {
  background: #222222;
  color: #a8a8a8;
  border-top: 1px solid #2D2D2D; }

.formstyle select {
  color: #0F0202; }

.formstyle input {
  background: #292929;
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  color: #a8a8a8; }

.formstyle input:hover {
  background: #A3A3A3;
  border: 1px solid #714172;
  color: #0F0202; }

.formstyle h3 {
  color: #a8a8a8; }

#uploadSubmit, #toTheGaleriesBtn {
  border: 1px solid #0F0202;
  background: #777777;
  color: #0F0202; }

#uploadSubmit:hover, #toTheGaleriesBtn:hover {
  border: 1px solid #714172;
  background: #0F0202;
  color: #714172; }

#previewUploadImages h3 {
  color: #714172; }

#bubble {
  background: #2D2D2D;
  color: #D1CFDA;
  border: 1px solid #a8a8a8; }

#uploadThanks h2, h3, p {
  color: #C2C2C2; }

#toTheGaleriesBtn {
  color: #714172;
  background: #0F0202; }

/*------------------------ VIEW article view  ---*/
.articlecontainer {
  background: #292929; }

/*Big title*/
.articleDefault h2 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #C2C2C2;
  border-bottom: 1px solid #714172; }

.articleDefault h3 {
  color: #A2A2A2;
  border-top: 1px solid #D7B5E7; }

.articleDefault h4 {
  display: inline;
  padding-top: 1.2rem;
  font-weight: 400;
  color: #714172;
  background: #170212; }

.articleDefault p {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.06rem;
  color: #A2A2A2; }

.articleRight h3 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D7B5E7;
  background: #0F0202; }

.articleRight h4 {
  color: #FDFDFD;
  background: rgba(25, 25, 160, 0.4); }

.articleRight p {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #26041D;
  background: rgba(200, 200, 200, 0.8);
  letter-spacing: 0.06rem; }

.articleLeft h3 {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #D7B5E7;
  background: #0F0202; }

.articleLeft h4 {
  color: #FDFDFD;
  background: rgba(25, 25, 160, 0.4); }

.articleLeft p {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #26041D;
  background: rgba(200, 200, 200, 0.8);
  letter-spacing: 0.06rem; }

.asidetext {
  background: rgba(200, 200, 200, 0.3); }

.asidetext h2 {
  background: #0F0202;
  color: #714172; }

.asidetext h3 {
  color: #D7B5E7;
  background: #0F0202; }

.asidetext p {
  color: #D1CFDA;
  background: rgba(200, 200, 200, 0.3);
  letter-spacing: 0.06rem; }

.imgcontent p {
  background: #a8a8a8;
  color: #714172; }

.teaserbox {
  border: 1px solid #2D2D2D;
  background: #0F0202; }

.teaserbox h2 {
  color: #a8a8a8;
  font-weight: 100;
  letter-spacing: 0.3rem; }

.teaserbox h3 {
  color: #a8a8a8; }

.caption {
  background: #222222; }

.caption p {
  color: #572D53; }

.linkToGal a {
  color: #777777;
  border-bottom: 0 solid #2D2D2D; }

.linkToGal a:hover {
  color: #714172;
  border-bottom: 1px solid #714172; }

/*------------------------------ VIEW Footer ---*/
#footer {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 2px solid #0F0202;
  background: #0F0202;
  color: #A2A2A2; }

.adress {
  border-right: 1px solid #A2A2A2; }

#footer a {
  color: #A2A2A2;
  border-bottom: 0 solid #26041D; }

#footer a:hover {
  color: #714172;
  border-bottom: 1px solid #714172; }

/* ------------------------------ Splash screen ---*/
.splash-content h1 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888; }

.splash-content h2 {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF; }

.splash-content h3 {
  color: #D7B5E7; }

.splash-content p {
  font-family: "Oxygen", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #888; }
