/* ---------------------------------------------------------- */
/*-------WEBkanal is graceful to pity internet explorer---- */

.slide_desc{
	position:absolute;
	min-width:22%;
	max-width:50%;
	bottom:20px;
	right:10px;
	padding:1em;
	background:#CCC !important;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	}	
	
	
body{
	background-color:blue;	
}